.address p{
    letter-spacing: 0.16px;
    color: #d5d5d5;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
}

.contactPageLink{
    text-decoration: none;
    letter-spacing: 0.16px;
    color: #d5d5d5;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
}

.contactPageBg{
    background-image: url('../images/contactBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.catlogPageLink{
    text-decoration: none;
    letter-spacing: 0.16px;
    color: #ed3237;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
}

.catlogPageBg{
    background-image: url('../images/catlogPageBackground1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* .pagination .page-item .page-link {
    color: #6c757d;
}

.pagination .page-item.active .page-link {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #ffffff;
} */

.multi-item-carousel{
    .carousel-inner{
      > .item{
        transition: 500ms ease-in-out left;
      }
      .active{
        &.left{
          left:-33%;
        }
        &.right{
          left:33%;
        }
      }
      .next{
        left: 33%;
      }
      .prev{
        left: -33%;
      }
      @media all and (transform-3d), (-webkit-transform-3d) {
        .item{
          transition: 500ms ease-in-out left;
          transition: 500ms ease-in-out all;
          backface-visibility: visible;
          transform: none!important;
        }
      }
    }
    .carouse-control{
      &.left, &.right{
        background-image: none;
      }
    }
  }

  .swiper-pagination-bullet {
    background-color: #ed3237; /* Change this to the color you want */
    }

  @media only screen and (max-width: 767px) {
    .zoomWrapper.single-zoom {
        pointer-events: none;
    }
  }

  .redText{
    color: #ed3237;
  }

  .textRight{
    text-align: end;
  }

  @media screen and (max-width: 1024px) {
    .col-md-6.col-sm-6.masonry-item {
        left: 249px !important;
        top: 331px !important;
    }
}

    .col-md-6.col-sm-6.masonry-item {
        left: 302px; 
        top: 405px;
    }

/* Media query for screens 1024px or smaller */
@media screen and (max-width: 1030px) {
    .abouveabout {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
    
@media screen and (max-width: 1030px) {
.arc-home-left-content {
    padding: 10px 13px;
    margin: 12px 19px;
}
}
/* Hide masonry-item on screen sizes 768px or smaller */
@media screen and (max-width: 770px) {
    .masonry-item-none{
        display: none;
    }
    .arc-home-left-content {
        padding: 40px 30px;
        margin: 12px 19px;
    }
    .custom-margin-top {
        margin-top: -5rem;
    }
}
@media screen and (max-width: 770px) {
    .abtOurTeamNavWrp a img {
        width: 60% !important;
    }
}
@media screen and (max-width: 768px) {
    .abtOurTeamNavWrp a {
        width: 100% !important;
    }
}

@media screen and (max-width: 430px) {
    .masonry-item-none-small{
        display: none;
    }
    .arc-home-left-content {
        margin: 0px 0px;
    }
    .inrLnkCert{
        display: none;
    }
    .imagecustom{
        display: none;
    }
}
@media screen and (max-width: 430px) {
    .inrAbtPrdSldrCont .hmePrdSldCtrl {
        top: -7px;
    }
    .custom-spacing {
        padding-top: 0rem !important;
        padding-bottom: 3rem !important;
        margin-top: -3rem !important;
        margin-bottom: 3rem !important;
    }
}
.custom-spacing{
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
