@media screen and (min-width:1400px){
	.inrBnrMainCont {
		height: 535px;
	}
	.inrBnrMainCont {
	    height: 460px;
	}
	.hmeOurNetTxtWrp{
		margin-bottom:160px;
	}
}
@media screen and (max-width:1280px){
	.centerAlign{
		width:92% !important;
	}
	.logoBlock {
		width: 140px;
	}
	.navMainCont ul li {
		margin: 0 20px;
	}
	.hmeTxtElem {
		font-size: 38px;
	}
	.headPhneWrp{
		display:none;
	}
	.hmeTxtBlck{
		padding-left:40px;
		width:325px;
	}
	.hmePrllxBg{height:450px;}
	.hmeWelCertWrp a img {
		height: 45px;
	}
	.hmeWelcTxtWrp {
    	width: 46%;
	}
	.hmeWelcImgWrp {
		width: 40%;
		margin-right: 0;
	}
	.hmeWelImgBlck {
		padding: 45px;
	}
	.hmeWelImgBlck > p {
		font-size: 20px;
		line-height: 29px;
	}
	.secTitle {
		font-size: 38px;
		line-height: 44px;
	}
	.smlTtle{
		font-size:12px;
	}
	.defBtn {
		padding: 17px 35px;
	}
	.hmePrdSldTxt {
		padding-top: 10px;
	}
	.glryTtl {
		font-size: 26px;
	}
	.abtVisInfBlck h1, .hmeOurNetTxtWrp h2 {
		font-size: 30px;
		line-height: 40px;
	}
	.ftrLgoWrp img {
		width: 140px;
	}
	.ftrLgoWrp {
		width: 25%;
	}
	.ftrLnkBlck {
		width: 20%;
	}
	.ftrLnksWrp a,
	.ftrDesc p {
	    font-weight: normal;
	}
	.ftrCpyMainCont p {
		font-weight: normal;
	}

	.inrBnrMainCont {
	    height: 460px;
	}
	.inrBnrMainCont-contact {
	    height: 400px;
	}
	.inrAbtPrdCaptionWrp h1 {
		font-size: 32px;
		line-height: 38px;
		margin-top: 20px;
	}
	.inrAbtPrdSldr li a.defBtn {
		left: 44%;
	}
	.inrAbtPrdPgr {
		margin-bottom: 25px;
		font-size: 18px;
	}
	.inrAbtPrdPgr span {
		margin-top: 3px;
		font-size: 12px;
	}
	.inrAbtPrdSldrPgrWrp {
		padding: 50px 40px;
	}
	.abtOurTeamNavWrp a{
		width:140px;
	}
	.tmNmeful {
	    font-size: 18px;
	}
	.abtOurTeamNavWrp a img{
		width: 100%;
		margin-bottom:5px;
	}
	.inrAbtVisMisCont .secDesc {
		right: 0;
		left:auto;
		width: 50%;
	}
	.tmSecInfWrp {
	    width: 86%;
	}
	.inrDwldBrchrBtn span {
		font-size: 14px;
		margin-top: 4px;
	}
	.inrDwldBrchrImg{
		width:48%;
	}
	.inrDwldBrchrInfWrp{
		width: 45%;
		margin-right: 6%;
		margin-top: 60px;
	}
	
	.inrTxtWrp {
		font-size: 32px;
	}
	.inrPrdLst li {
		margin-bottom: 15px;
		padding-right: 18px;
	}
	.inrCntInfWrp1 {
		width: 50%;
	}
	.contInfMainWrp h1 {
		font-size: 26px;
	}
	.inrCntInfWrp2 {
		width: 47%;
	}
	.contFormWrap .cntInp {
		padding-top:16px;
		padding-bottom:16px;
		font-size: 15px;
	}
	.contDealTtl {
		font-size: 26px;
	}
	.contDealSub p {
		font-size: 15px;
		line-height: 18px;
	}
	.contDealNetInf {
    	width: 370px;
	}
	.inrBlogListWrp {
	    width: 100%;
	}
	.inrBlgLstDte {
		font-size: 13px;
		left: 8px;
	}
	.inrBlgLstBlck {
		padding: 0 30px 20px 40px;
	}
	.inrBlgLstImg {
		height: 250px;
	}
	.inrBlgLstTtle {
		font-size: 18px;
		margin-bottom: 3px;
	}
	.inrBlgLstDesc p {
		font-size: 13px;
		line-height: 20px;
	}
	.inrBlgSidBrTtle {
		font-size: 18px;
		margin-bottom: 21px;
	}
	.nwsInrPstDte {
		margin-top: 9px;
		font-size: 14px;
	}
	.blogSidebar > ul > li > a {
		font-size: 14px;
		line-height: 16px;
		padding-left:0px;
		padding-right:18px;
	}
	.desRmLstMainCont .inrBlgLstTtle {
		padding: 20px 30px;
		font-size: 13px;
	}
	.desRmLstMainCont .inrBlgLstImg {
		height: 260px;
	}
	.inrDwldSplit {
		width: 96%;
	}
	.inrDwldWrp:nth-child(odd){padding-right: 40px;}
	.inrDwldWrp:nth-child(even){padding-left:40px; margin-top:60px;}
	.inrDwldWrp li a {
		padding: 35px;
		margin-top: -60px;
	}
	.dwldTtle {
		letter-spacing: 1px;
		font-size: 28px;
	}
	.dwldDesc span {
		margin-right: 5px;
		padding: 5px 15px;
		margin-bottom: 8px;
		font-size: 10px;
	}
}
@media screen and (max-width:1000px){
	.secPad {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.secPad-T{padding-top:100px;}
	.secPad-B{padding-bottom:100px;}


	.hmeScrllDwnTxt{
		display:none;
	}
	.logoBlock {
		width: 120px;
	}
	.navMainCont ul li a {
		font-size: 13px;
		letter-spacing: 0px;
	}
	.headMainNavCont {
		margin-top: 40px;
	}
	.navMainCont{
		margin-right:0;
	}
	.hmeTxtBlck {
		padding-left: 40px;
		width: 290px;
	}
	.hmeTxtElem {
		font-size: 34px;
	}
	.hmeTxtBlck .hmeBlckTxtLnk {
		font-size: 18px;
		letter-spacing:0px;
		line-height: 26px;
	}
	.smlBlckTtl {
		font-size: 12px;
		margin-bottom: 25px;
	}
	.hmeTxtBlck {
		padding: 40px 0 35px 35px;
	}
	.hmePrllxBg{
		background-position:0 0 !important;
		background-size:cover !important;
	}
	.hmeWelImgBlck {
		padding: 40px;
	}
	.hmeWelImgBlck > p {
		font-size: 18px;
		line-height: 24px;
	}
	.hmeWelCertWrp a img {
		height: 38px;
	}
	.secTitle {
		font-size: 34px;
		line-height: 40px;
	}
	.inrBlgContMainWrp .secDesc ul li,
	.secDesc p,
	.hmeWelcTxtWrp .secDesc p {
		line-height: 24px;
		font-size: 15px;
	}
	.hmeWelcTxtWrp {
		width: 50%;
		margin-left: 0;
	}
	.hmePrdSldBlck h2,
	.hmePrdSldTxt h2 {
		font-size: 22px;
	}
	.hmePrdTxtSldWrp {
		padding: 50px 40px;
		width: 370px;
	}
	.hmePrdSldNum {
		font-size: 16px;
	}
	.hmePrdSldCtrl span {
		width: 38px;
		height: 38px;
		border: 1px solid #3ab9c5;
	}
	.hmePrdSldCtrlWrp {
		top: 10%;
	}
	.hmePrdSlideSml {
		width: 28%;
	}
	.hmePrdSlideBig {
		width: 72%;
	}
	.hmePrdSldCtrlWrp {
		width: 24%;
	}
	.hmePrdTxtSldWrp{top:-70px;}
	.defBtn {
		padding: 15px 30px;
	}
	.hmeGlryBlcksWrp {
		margin-top: 30px;
	}
	.hmeGlry1,
	.hmeGlry2{
		padding-left:20px;
	}
	.glryCat {
		width: 16px;
		height: 16px;
		font-size:12px;
	}
	.glryTtl {
		font-size: 18px;
	}
	.glryDsc {
		margin-top: 5px;
		font-size: 10px;
	}
	.glryCat{
		top: 40%;
	}
	.abtVisInfBlck h1, .hmeOurNetTxtWrp h2 {
		font-size: 24px;
		line-height: 30px;
	}
	.hmeOurNetTxtWrp p {
		font-size: 14px;
		line-height: 20px;
	}
	.abtVisInfBlck, .hmeOurNetTxtWrp {
		width: 350px;
		padding: 50px;
		margin-top: -70px;
		margin-bottom: 70px;
	}
	.hmeOurNetMainCont{
		background-position:0 0 !important;
		background-size:cover !important;
	}
	.hmeOurNetTxtWrp .defBtn {
		margin-bottom: 20px;
		margin-top: 20px;
	}
	.ftrLgoWrp{
		width:22%;
	}
	.ftrLgoWrp img {
		width: 120px;
	}
	.ftrLnkBlck {
		width: 22%;
	}
	.ftrLnksWrp a,
	.ftrDesc p {
		font-size: 13px;
		line-height: 20px;
		letter-spacing: 0;
	}
	.ftrNwsltrWrp input[type="text"] {
		width: 100%;
		font-size: 12px;
		line-height: 16px;
		padding: 15px;
	}
	.ftrNwsSubBtn{
		float:right;
		width:auto;
	}
	.ftrNwsSubBtn {
		padding: 8px 20px;
		line-height: 16px;
		font-size: 11px;
	}
	.ftrLnkNwsBlck {
		width: 29%;
		margin-left: 5%;
	}
	.ftrLnksWrp a{margin-bottom:5px;}
	
	.inrBnrBg{
		background-size:cover !important;
	}
	.inrBnrBg-contact{
		background-size:cover !important;
	}
	.inrBnrMainCont {
		height: 350px;
	}
	.inrBnrMainCont-contact {
	    height: 300px;
	}
	.inrAbtPrdCaptionWrp h1 {
		font-size: 28px;
		line-height: 36px;
		margin-top: 12px;
	}
	.inrAbtPrdSldr li img {
		width: 140% !important;
		margin-left: -25%;
	}
	.inrAbtPrdPgr {
		padding-left: 40px;
	}
	.inrAbtPrdPgr:before {
		width: 30px;
		height: 30px;
		font-size: 16px;
		line-height: 32px;
		border: 1px solid #454545;
		top: 3px;
	}
	.inrAbtPrdPgr {
		font-size: 16px;
	}
	.inrAbtPrdSldrPgrWrp {
		padding: 45px 35px;
	}
	.abtOurTeamNavWrp a {
		width: 110px;
		margin: 0 12px;
	}
	.tmNmePrim {
	    font-size: 14px;
	}
	.tmSecInfWrp {
		width: 90%;
	}
	.inrDwldBrchrBtn span {
		font-size: 13px;
	}
	.inrDwldBrchrInfWrp {
		width: 42%;
		margin-right: 3%;
		margin-top: 50px;
	}
	.inrDwldBrchrImg {
		width: 55%;
	}
	.filtDta, .filtLab {
		font-size: 13px;
	}
	.sidPrdTtle {
		font-size: 16px;
		margin-bottom: 10px;
		letter-spacing: 0.5px;
	}
	.sideBarMenu > ul > li > a {
		font-size: 13px;
		padding:12px 15px;
	}
	.sideBarMenu > ul > li > ul > li > a {
		font-size: 13px;
		padding: 3px 15px;
		margin-bottom: 2px;
	}
	.inrPrdLst a span {
		font-size: 14px;
	}
	.inrPrdLst li {
		width: 33.33%;
	}
	.cntGetDirTxtBlck {
		bottom: -160px;
	}
	.cntGetDirTxtBlck .hmeTxtBlck {
		width: 300px;
	}
	.contInfMainWrp h1 {
		font-size: 24px;
	}
	.cntInfDeal p, .cntInfPne p, .contInfMainWrp p {
		font-size: 13px;
		line-height: 20px;
	}
	.contInfMainWrp p br{
		display:none;
	}
	.inrCntInfWrp1 {
		width: 41%;
	}
	.inrCntInfWrp2 {
		width: 54%;
		margin-top: 175px;
	}
	.contFormMainCont {
		width: 100%;
	}
	.contFormWrap .cntInp {
		padding-top: 14px;
		padding-bottom: 14px;
		font-size: 14px;
	}
	.cntFrmIcn {
		right: 8px;
		top: 9px;
		width: 26px;
		height: 26px;
	}
	.capSubWrap input[type="submit"] {
		padding: 12px 30px;
		font-size: 14px;
	}
	.contDealTtl {
		font-size: 24px;
	}
	.contDealSelcWrp select {
		padding: 15px 20px;
		background-size:auto 20%;
	}
	.contDealSub {
		margin-bottom: 20px;
	}
	.contDealNetInf {
		width: 350px;
		padding: 40px;
	}
	.contDealNetMainCont {
		top: -70px;
	}
	.inrBlgLstDte {
		left: 0;
		font-size:12px;
	}
	.inrBlgLstImg {
		height: 200px;
	}
	.inrBlgLstBlck {
		padding: 0 25px 20px 25px;
	}
	.inrBlgLstTtle {
		font-size: 16px;
	}
	.inrBlgLstTtle {
		font-size: 16px;
		margin-bottom: 3px;
	}
	.inrBlgLstBlck:nth-child(2n) {
		margin-top: 30px;
	}
	.inrBlgSidBrTtle {
		font-size: 16px;
		margin-bottom: 15px;
	}
	.blogSidebar > ul > li > a {
		font-size: 12px;
		padding-right:10px;
		line-height: 15px;
	}
	.blogSidebar > ul > li > a:after {
		width: 9px;
		height: 17px;
	}
	.blogSidebar > ul > li > a span {
		font-size: 10px;
		margin-top: 5px;
	}
	.nwsNavTtl {
		font-size: 15px;
		line-height: 18px;
	}
	.nwsNavPstOn {
		font-size: 13px;
	}
	
	.inrBlgContMainWrp .secDesc > h1{font-size:24px;}
	.inrBlgContMainWrp .secDesc > h2,
	.inrBlgContMainWrp .secDesc > h3{font-size:20px;}
	.inrBlgContMainWrp .secDesc > h4{font-size:18px;}
	.inrBlgContMainWrp .secDesc > h5{font-size:17px;}
	.inrBlgContMainWrp .secDesc > h6{font-size:16px;}
	.layInstTable td {
		line-height: 18px;
	}
	.layInstTable td ul {
		margin-top: 6px;
	}
	.desRmLstMainCont .inrBlgLstImg {
		height: 230px;
	}
	.desRmLstMainCont .inrBlgLstBlck {
		width: 46%;
		margin-left: 2%;
		margin-right: 2%;
	}
	.desRmLstMainCont .inrBlgLstTtle {
		padding: 15px 20px;
		font-size: 12px;
		letter-spacing: 1px;
		left: -10px;
	}
	.inrDwldWrp li a {
		padding: 30px;
	}
	.dwldTtle {
		letter-spacing: 0px;
		font-size: 22px;
	}
	.dwldDesc {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.inrDwldWrp:nth-child(odd){padding-right: 30px;}
	.inrDwldWrp:nth-child(even){padding-left:30px; margin-top:40px;}
}
@media screen and (max-width:768px){
	.navMainCont{
		display:none;
	}	
	.respNavIcn{
		display:block;
	}
	.headMainNavCont {
		margin-top: 22px;
	}
	.hmeTxtBlckCont {
		width: 100%;
	}
	.hmeTxtBlck {
		width:46%;
		max-width:270px;
		padding: 30px 0 25px 25px;
	}
	.hmeTxtBlck:last-child{margin-right:0;}
	.hmeTxtBlck .hmeBlckTxtLnk {
		font-size: 16px;
		line-height: 22px;
	}
	.smlBlckTtl {
		font-size: 10px;
		margin-bottom: 20px;
		font-weight: 500;
	}
	.hmeTxtElem {
		font-size: 28px;
		line-height: 36px;
	}
	.hmePrllxBg {
		height: 360px;
	}
	.hmeWelImgBlck {
		padding: 35px;
	}
	.defBtn {
		padding: 14px 27px;
		font-size: 11px;
		letter-spacing: 1.5px;
	}
	.hmeWelcImgWrp {
		width: 50%;
	}
	.hmeWelcTxtWrp {
		width: 100%;
		float:none;
	}
	.hmeWelImgBlck {
		padding: 30px;
		top: 40px;
		left: -160px;
	}
	.hmeWelCertWrp a img {
		height: 30px;
	}
	.hmeWelImgBlck > p {
		font-size: 14px;
		line-height: 22px;
	}
	.hmeWelImgBlck > p br{display:none;}
	.secPad {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.secPad-T{padding-top:80px;}
	.secPad-B{padding-bottom:80px;}
	.hmeWelcTxtWrp .secTitle {
		margin-bottom: 15px;
	}
	.hmeWelcTxtWrp .defBtn {
		margin-top: 15px;
	}
	.hmePrdSldBlck h2,
	.hmePrdSldTxt h2 {
		font-size: 18px;
	}
	.hmePrdTxtSldWrp {
		padding: 35px;
		width: 260px;
	}
	.hmePrdSldNum{
		display:none;
	}
	.hmePrdSlideBig {
		width: 80%;
	}
	.hmePrdSlideSml {
		width: 20%;
	}
	.hmePrdSlideSml img {
		width: 250%;
	}
	.hmePrdSldCtrl span {
		width: 30px;
		height: 30px;
	}
	.hmePrdSldCtrlWrp {
		width: 16%;
		top: 16%;
	}
	.hmeProdSecMainCont {
		margin-top: 70px;
	}
	.secTitle {
		font-size: 32px;
		line-height: 36px;
	}
	.glryCat,
	.hmeGlryHeadWrp .defBtn{
		display:none;
	}
	.hmeGlry1, .hmeGlry2 {
		padding-left: 0;
		float:none;
		display:inline-block;
		vertical-align:middle;
	}
	.hmeGlry2 {
		width: 44%;
		margin-left:5.5%;
	}
	.glryTtl {
		font-size: 16px;
	}
	.glryDsc {
		margin-top: 3px;
		text-transform: none;
		letter-spacing: 0;
	}
	.hmeGlryBlcksWrp {
		margin-top: 5px;
	}
	.abtVisInfBlck, .hmeOurNetTxtWrp {
		width: 300px;
		padding: 40px;
	}
	.abtVisInfBlck h1, .hmeOurNetTxtWrp h2 {
		font-size: 20px;
		line-height: 24px;
		margin-bottom:10px;
	}
	.hmeOurNetTxtWrp p {
		font-size: 13px;
		line-height: 18px;
	}
	.hmeOurNetTxtWrp .defBtn {
		margin-bottom: 15px;
		margin-top: 15px;
	}
	.smlBlckTtl {
		font-size: 9px;
		margin-bottom: 10px;
	}
	.ftrCpyMainCont {
		margin-top: 30px;
		padding: 20px 0;
	}
	.ftrCpyMainCont p{
	    font-size:10px;
	}
	.ftrLnksWrp a, .ftrDesc p {
		font-size: 12px;
		line-height: 16px;
		letter-spacing: 0;
	}
	.ftrLgoWrp{
		margin-top:-10px;
	}
	.ftrLgoWrp img {
	    width: 80%;
		max-width: 120px;
	}
	.ftrTtl {
		font-size: 12px;
		letter-spacing: 0.5px;
		margin-bottom: 10px;
	}
	.ftrLnkBlck:nth-child(3){
		display:none;
	}
	.ftrLnkNwsBlck {
		width: 44%;
		margin-left:3%;
	}
	.ftrLgoWrp {
		width: 23%;
		margin-right: 4%;
	}
	.ftrLnkBlck {
		width: 26%;
	}
	.ftrNwsltrWrp input[type="text"] {
		font-size: 11px;
		line-height: 14px;
		padding: 11px 15px;
	}
	.ftrNwsSubBtn {
		float:left;
		padding: 5px 15px;
		line-height: 14px;
		font-size: 10px;
	}
	.ftrNwsltrWrp {
		padding-top: 2px;
	}
	.headMainNavCont > nav{display:none;}
	.shrtDesc {
		padding: 0 7%;
	}
	.inrBnrDwldWrp .hmeTxtBlck{
		float:right;
	}
	.inrBnrDwldWrp .hmeTxtBlck {
	    width: 60%;
	}
	.inrBnrDwldWrp .hmeTxtBlck .hmeBlckTxtLnk {
		font-size: 14px;
		line-height: 20px;
	}
	.inrBnrDwldWrp .hmeTxtBlckCont {
		bottom: -50px;
	}
	.inrAbtCertWrp > img{
		display:none;
	}
	.inrAbtInfWrp{
		float:left;
		padding-bottom:70px;
		width:70%;
	}
	.inrLnkCert{
		position:static;
		width: 100%;
		display: block;
	}
	.inrAbtCertWrp{
		margin-top:130px;
		width:25%;
	 	position:static;
		float:right;
	}
	.inrAbtPrdSldrPgrWrp {
		padding: 35px;
	}
	.inrAbtPrdPgr:before{
		display:none;
	}
	.inrAbtPrdPgr{
		padding-left:0;
		opacity:0.8;
	}
	.inrAbtPrdPgr.cycle-pager-active{
		opacity:1;
		text-decoration:underline;
	}
	.inrAbtPrdPgr span{
		text-decoration:none !important;
	}
	.inrAbtPrdCaptionWrp h1 {
		font-size: 21px;
		line-height: 28px;
	}
	.inrAbtPrdSldr li a.defBtn {
		top: 60%;
	}
	.inrAbtPrdPgr span {
		font-size: 11px;
	}
	.abtOurTeamNavWrp a {
		width: 92px;
		margin: 0 11px;
	}
	.tmNmeful {
		font-size: 15px;
		line-height: 16px;
	}
	.tmSecInfWrp {
		width: 100%;
	}
	.abtVisInfBlck{
		margin-top: -30px;
		width:250px;
	}
	.inrAbtVisMisCont .secDesc{
		width:50%;
	}
	.inrAbtVisMisCont .secDesc p{
		line-height: 19px;
		font-size: 13px;
	}
	.inrAbtVisMisCont{
		padding-bottom:100px;
	}
	.inrDwldBrchrInfWrp {
		width: 46%;
	}
	.inrDwldBrchrImg {
		width: 50%;
	}
	.inrDwldBrchrBtn span {
		font-size: 12px;
	}
	.inrDwldBrchrInfWrp p {
		font-size: 14px;
		line-height: 18px;
	}
	.inrPrdCrtMainCont{
		top:-45px;
	}
	.inrPrdCrtMainCont .hmeWelImgBlck{
		width: 250px;
	}
	.inrTxtWrp {
		font-size: 28px;
	}
	.filtDta, .filtLab {
		font-size: 12px;
	}
	.aplyFiltTtl {
		margin-bottom:10px;
		font-size: 10px;
	}
	.sideBarMenu > ul > li > a {
		font-size: 12px;
		padding: 9px 10px;
		font-weight: 700;
	}
	.sideBarMenu > ul > li > ul > li > a {
		font-size: 11px;
		padding: 2px 10px;
		margin-bottom: 2px;
	}
	.sidPrdTtle {
		font-size: 14px;
		margin-bottom: 8px;
	}
	.sideBarMenu > ul > li > a:after,
	.sideBarMenu > ul > li.actSidBar > a:after{
		top:7px;
		right: 10px;
		font-size: 16px;
	}
	.contInfMainWrp {
		padding-top: 20px;
	}
	.contInfMainWrp h1 {
		font-size: 20px;
	}
	.cntInfDeal, .cntInfPne {
		float: none;
		width: 100%;
	}
	.inrCntInfWrp1 {
		width: 54%;
	}
	.inrCntInfWrp2 {
		width: 40%;
		margin-top: 106px;
	}
	.cntInfDeal p, .cntInfPne p, .contInfMainWrp p {
		font-size: 12px;
		line-height: 18px;
		margin-bottom: 4px;
	}
	.contFormWrap .cntInp {
		font-size: 13px;
	}
	.contDealSub p {
		font-size: 14px;
		line-height: 18px;
	}
	.contDealTtl {
		font-size: 20px;
	}
	.contDealNetInf {
		width: 320px;
		padding: 35px;
	}
	.contDealSelcWrp select {
		padding: 12px 17px;
		font-size: 12px;
	}
	.contMapWrp {
		height: 370px;
	}
	.inrBlgSidebarWrp{
		display:none;
	}
	.inrBlgContMainWrp {
		float: none;
		width: 100%;
	}
	.nwsInrShreWrp a img {
		width: 24px;
	}
	.nwsInrShreWrp a {
		margin-left: 5px;
	}
	
	.inrBlgContMainWrp .secDesc ul li{
		background-position:4px 7px;
		background-size:auto 10px;
		padding-left: 20px;
	}
	.desRmLstMainCont .inrBlgLstBlck {
		padding: 0 0 40px 0;
	}
	.desRmLstMainCont .inrBlgLstImg {
		height: 220px;
		background-size: cover;
	}
	.desRmLstMainCont .inrBlgLstTtle {
		padding: 14px 18px;
		font-size: 11px;
	}
	.prdPgrMainWrp a {
		width: 32px;
		height: 32px;
		line-height: 32px;
		font-size: 12px;
	}
	.ftrSocialWrp a {
		margin-right: 5px;
	}
	.ftrSocialWrp a i {
		width: 30px;
		height: 30px;
	}
	.inrDwldWrp{
		width:100%;
		float:none;
		display:block;
	}
	.inrDwldWrp:nth-child(odd){padding-right: 0;}
	.inrDwldWrp:nth-child(even){padding-left:0; margin-top:0;}
	.inrDwldWrp li a {
		margin-right: 30px;
	}
	.inrDwldSplit {
		width: 90%;
		margin: 40px auto 0 auto;
	}
	.inrDwldWrp li:last-child{margin-bottom:0;}
	.inrDwldWrp li a svg{width:auto; height:100%;}
}
@media screen and (max-width:640px){
	.inrBnrDwldWrp .hmeTxtBlckCont {
		bottom: -30px;
	}
	.inrAbtInfWrp {
		padding-bottom: 0;
		width: 100%;
		float:none;
	}
	.inrAbtCertWrp {
		width: 140px;
		clear:both;
		float:none;
		display:table;
		margin:35px auto 60px auto;
	}
	.inrLnkCert{
		border-width:3px;
	}
	.inrAbtPrdSldrWrp{
		width:100% !important;
	}
	.inrAbtPrdSldrPgrWrp {
		position: static !important;
		padding: 15px 25px !important;
		width: 100% !important;
		overflow:hidden !important;
	}
	.inrAbtPrdPgr:last-child,
	.inrAbtPrdPgr{
		width:50%;
		float:left;
		margin:10px 0;
		font-size: 14px;
	}
	.inrAbtPrdSldrCont .hmePrdSldCtrl {
		right: 20px;
		bottom: auto;
		width: auto;
		top: 20px;
		z-index: 150;
		background: #fff;
	}
	.inrAbtPrdCaptionWrp{
		width:100% !important;
	}
	.inrAbtPrdSldr li a.defBtn {
		left: 50%;
	}
	.inrAbtPrdCaptionWrp h1 {
		font-size: 19px !important;
		line-height: 26px !important;
	}
	.inrAbtPrdCaptionWrp .smlTtle {
		font-size: 10px;
	}
	.inrAbtPrdCaptionWrp .smlTtle:before {
	    height: 7px;
	}
	.shrtDesc {
		padding: 0;
	}
	.abtOurTeamNavWrp a{
		float:none;
		display:inline-block;
		vertical-align:top;
		margin-bottom:15px;
	}
	.tmSecInfWrp .secDesc p{
		line-height: 19px;
		font-size: 13px;
	}
	.abtOurTeamNavWrp {
		text-align: center;
	}
	.tmSecInfCont {
		margin-top: 30px;
	}
	.abtOurTeamNavWrp a.teamAct img{
		margin-bottom:0;
	}
	.abtVisInfBlck {
	    margin-top: -20px;
		width: 210px;
		padding: 30px;
	}
	.inrAbtVisMisCont .secDesc {
		width: 45%;
		top: 30px;
	}
	.inrAbtVisMisCont .secDesc p {
		line-height: 16px;
		font-size: 12px;
	}
	.inrAbtVisMisCont{
		background-size:cover;
	}
	.inrDwldBrchrImg {
		width: 50%;
		margin-bottom:30px;
	}
	.inrDwldBrchrInfWrp{
		width:100%;
		margin:0;
	}
	.inrDwldBrchrImg {
		float:none;
		display:block;
		width:60%;
		margin:0 auto 5px auto;
	}
	.inrDwldBrchrBtn{
		text-align:center;
	}
	.inrDwldBrchrBtn span,
	.inrDwldBrchrBtn .defBtn {
		margin-bottom: 0;
	}
	.inrDwldBrchrBtn {
		margin-top: 20px;
	}
	.inrDwldBrchrImg{
		
	}
	.inrDwldBrchrBtn {
		margin-top: 0;
	}
	.inrDwldBrchrInfWrp p,
	.inrDwldBrchrInfWrp .secTitle{
		display:none;
	}
	.inrDwldBrchrInfWrp .secTitle{
		margin-bottom:10px;
	}
	.hmePrdSldTxtWrp .defBtn {
		margin-top: 15px;
	}
	.inrPrdLstWrp,
	.inrPrdSideFiltWrp {
		float:none;
		width: 100%;
	}
	.aplyFilt{
		float:none;
		display:inline-block;
		vertical-align:top;
		margin-right:10px;
		width:auto;
	}
	.inrPrdLstWrp{
		margin-top:40px;
	}
	.filtAplidWrp {
		margin-bottom: 15px;
	}
	.inrTxtWrp {
		font-size: 24px;
		top:40%;
	}
	.inrCntInfWrp1 {
		width: 100%;
	}
	.contInfMainWrp h1 {
		margin-bottom: 10px;
	}
	.inrCntInfWrp2{
		margin-top:0;
		width:100%;
	}
	.capSubWrap input[type="submit"] {
		padding: 10px 24px;
		font-size: 13px;
		font-weight: 500;
	}
	.inrBlgLstBlck{
		width:100%;
	}
	.inrBlgLstBlck:nth-child(2n) {
		margin-top: 0;
	}
	.nwsInrPstDte {
		font-size: 13px;
	}
	.nwsInrShreDte{
		margin-bottom:20px;
	}
	.nwsInrNavWrp {
		margin-top: 35px;
	}
	.inrBlgContMainWrp .secDesc > h1{font-size:22px;}
	.inrBlgContMainWrp .secDesc > h2,
	.inrBlgContMainWrp .secDesc > h3{font-size:19px;}
	.inrBlgContMainWrp .secDesc > h4{font-size:17px;}
	.inrBlgContMainWrp .secDesc > h5{font-size:16px;}
	.inrBlgContMainWrp .secDesc > h6{font-size:15px;}
	.layInstTable td {
		font-size: 13px;
	}
	.layInstTable td ul li {
	    margin-top: 5px;
		font-size:inherit;
	}
	.layInstTable th {
		font-size: 12px;
	}
	.desRmLstMainCont .inrBlgLstBlck {
		width: 94%;
		display:block;
		float:none;
		margin: 0 auto 60px auto;
		padding:0;
	}
	.desRmLstMainCont .inrBlgLstTtle{
		left:-20px;
		bottom:-15px;
	}
	.inrBlgLstBlck:nth-child(even) .inrBlgLstTtle{
		left:auto;
		right:-20px;
	}
	.hmePrdSldTxtWrp .defBtn{
		background:none;
		padding:0;
		text-decoration:underline;
	}
	.hmePrdSldTxtWrp .defBtn:before{
		display:none;
	}
	.ftrSocialWrp a i {
		width: 28px;
		height: 28px;
	}
}
@media screen and (max-width:480px){
	.tmSecInfWrp .secDesc {
		width: 100% !important;
	}
	.inrAbtInfWrp{
		width: 100% !important;
	}
	.tmSecInfWrp .secDesc p{
		font-size: 16px !important; 
	}
	.tmSecInfWrp h4{
		font-size: 18px !important; 
	}
	.secTitle {
		font-size: 34px !important;
		line-height: 45px !important;
	}
	
	.custom-non-display{
		display: none !important;
	}
	.respNavIcn {
		width: 34px;
		height: 34px;
	}
	.hmeTxtElem {
		font-size: 26px;
		line-height: 36px;
	}
	.hmeTxtMainCont {
		max-height: 400px;
	}
	.hmeTxtBlck .hmeBlckTxtLnk {
		font-size: 14px;
		line-height: 18px;
	}
	.smlBlckTtl {
		font-size: 8px;
		margin-bottom: 8px;
	}
	.hmeTxtBlck {
		margin-right: 4%;
		padding:25px 20px 20px 20px;
	}
	.hmeTxtElem br{
		display:none;
	}
	.hmeTxtBlckCont {
		bottom: -60px;
	}
	.hmePrllxBg{
		height:260px;
	}
	.hmeWelcTxtWrp{
		margin:0;
	}
	.secPad {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.secPad-T{padding-top:60px;}
	.secPad-B{padding-bottom:60px;}
	.secTitle {
		font-size: 26px;
		line-height: 32px;
	}
	.smlTtle {
		font-size: 10px;
	}
	.inrBlgContMainWrp .secDesc ul li,
	.secDesc p, .hmeWelcTxtWrp .secDesc p {
		line-height: 22px;
		font-size: 14px;
	}
	.hmeWelcTxtWrp .defBtn {
		margin-top: 10px;
	}
	.defBtn {
		padding: 12px 20px;
		font-size: 10px;
	}
	.hmeWelImgBlck > p {
		font-size: 12px;
		line-height: 16px;
	}
	.hmeWelImgBlck {
		padding: 25px;
		top: 30px;
		left: -100px;
	}
	.hmeWelCertWrp a {
		margin: 0 7px 0 0;
	}
	.hmeWelCertWrp{
		margin-bottom:10px;
	}
	.hmeWelCertWrp a img {
		height: 24px;
	}
	.hmeWelcImgWrp {
		width: 62%;
		margin-top:30px;
	}
	.hmePrdSldBlck h2,
	.hmePrdSldTxt h2 {
		font-size: 14px;
		line-height: 20px;
	}
	.hmePrdTxtSldWrp {
		padding: 30px;
		width: 220px;
	}
	.hmePrdSldCtrl span {
		width: 26px;
		height: 26px;
	}
	.hmePrdSldTxt {
		padding-top: 6px;
	}
	.hmeProdSecMainCont {
		margin-top: 50px;
	}
	.glryTtl {
		font-size: 14px;
		margin-top: 7px;
	}
	.abtVisInfBlck, .hmeOurNetTxtWrp {
		width: 260px;
		padding: 35px;
	}
	.abtVisInfBlck h1, .hmeOurNetTxtWrp h2 {
	    font-size: 18px;
	}
	.hmeOurNetTxtWrp p {
		font-size: 12px;
		line-height: 16px;
	}
	.hmeOurNetTxtWrp .defBtn {
		margin-bottom: 12px;
		margin-top: 12px;
	}
	.ftrLnkBlck {
		width: 30%;
	}
	.ftrLgoWrp {
		width: 100%;
		margin-bottom:0;
		margin-right: 0;
		position:absolute;
		bottom:0;
	}
	.ftrSocialWrp{
		display:table;
		margin:0 auto;
	}
	.footerMainCont > .centerAlign{
		position:relative;
		padding-bottom: 50px;
	}
	.ftrCpyMainCont {
		margin-top: 13px;
	}
	.ftrLgoWrp img{
		display:none;
		max-width:70px;
	}
	.ftrLnkNwsBlck {
		width: 65%;
		margin-left: 5%;
	}
	.ftrLnksWrp a {
		margin-bottom: 3px;
	}
	.ftrLnksWrp a, .ftrDesc p {
		font-size: 11px;
	}
	.ftrCpyMainCont {
		padding: 15px 0;
	}
	.ftrCpyMainCont p:last-child,
	.ftrCpyMainCont p {
		font-size: 10px;
		display: block;
		text-align: center;
		width: 100%;
		float: none;
		padding:3px 0;
	}
	.ftrNwsltrWrp {
		padding-top: 0;
	}
	.hmeTxtMainCont {
		max-height: 400px;
	}
	.inrBnrDwldWrp .hmeTxtBlck {
		width: 60%;
	}
	.inrBnrDwldWrp .hmeTxtBlck .hmeBlckTxtLnk {
		font-size: 12px;
		line-height: 17px;
	}
	.inrAbtPrdCaptionWrp h1 {
		font-size: 16px;
		line-height: 20px;
	}
	.inrAbtPrdSldr li a.defBtn {
		top: 66%;
	}
	.inrAbtPrdCaptionWrp .smlTtle {
		font-size: 9px;
		margin-bottom: 5px;
	}
	.inrAbtPrdSldrPgrWrp{
		padding:15px;
	}
	.inrAbtPrdPgr:last-child, .inrAbtPrdPgr {
		margin: 8px 0;
		font-size: 12px;
	}
	.inrAbtPrdPgr span {
		font-size: 10px;
	}
	.inrAbtPrdCaptionWrp .smlTtle {
		font-size: 9px;
	}
	.abtOurTeamNavWrp a {
		width: 84px;
		margin: 0 8px 15px 8px;
	}
	.tmNmeful {
		font-size: 14px;
		line-height: 14px;
	}
	.tmNmePrim{
		font-size: 14px;
	}
	.tmSecInfWrp {
		text-align:center;
	}
	.tmSecInfWrp .secDesc {
		width: 100%;
	}
	.tmSecInfWrp h4{
		font-size:16px;
		margin-bottom:5px;
		display:block;
	}
	.tmQteImg{
		clear:both;
		width:50%;
		margin:10px auto 0 auto;
	}
	.abtVisInfBlck{
		width: 70%;
		padding: 30px;
	}
	.inrAbtVisMisCont .secDesc {
		width: 100%;
		top: 160px;
		left: 0;
		right: auto;
	}
	.inrAbtVisMisCont .secDesc p {
		line-height: 16px;
		font-size: 11px;
		margin-bottom: 0;
	}
	.inrBnrMainCont {
		height: 300px;
	}
	.inrBnrMainCont-contact {
	    height: 250px;
	}
	.abtOurTeamNavWrp {
		margin: 10px auto 0 auto;
	}
	.inrPrdLstWrp .smlTtle {
		font-size: 8px;
	}
	.inrPrdLstWrp .secTitle {
		font-size: 24px;
		line-height: 28px;
		margin-bottom:15px;
	}	
	.inrPrdLst li {
		width: 48%;
		margin-right:4%;
		padding-right:0;
	}
	.inrPrdLst li:nth-child(even){
		margin-right:0;
	}
	.inrPrdLst a span {
		font-size: 12px;
	}
	.defBtn {
		padding: 11px 21px;
		font-size: 10px;
	}
	.cntGetDirTxtBlck .defBtn {
		margin-top: 15px;
	}
	.cntInfDeal p, .cntInfPne p, .contInfMainWrp p {
		font-size: 11px;
		line-height: 16px;
		margin-bottom: 6px;
	}
	.contInfMainWrp {
		padding-top: 0;
	}
	.contInfMainWrp h1 {
		margin-bottom: 5px;
	}
	.twoCol fieldset {
		width: 100%;
	}
	.contFormWrap .cntInp {
		font-size:12px;
		padding: 10px 35px 10px 10px;
	}
	.contFormWrap textarea {
		height: 70px;
	}
	.contFormWrap fieldset {
		margin-bottom: 7px;
	}
	.cntFrmIcn {
		top: 6px;
		width: 22px;
		height: 22px;
	}
	.capSubWrap{
		padding-top:10px;
	}
	.capSubWrap input[type="submit"]{
		clear:both;
		float:left;
		margin-top:20px;
	}
	.contDealNetInf {
		width: 100%;
		padding: 30px;
	}
	.contDealSelcWrp select {
		padding: 11px 14px;
		font-size: 10px;
	}
	.contDealSub p {
		font-size: 12px;
		line-height: 15px;
	}
	.contDealTtl {
		font-size: 16px;
		margin-bottom: 5px;
	}
	.contDealNetMainCont {
		top: -110px;
	}
	.contMapMainCont {
    	margin-top: 100px;
	}
	.inrBlgLstDte {
		font-size: 10px;
	}
	.inrBlgLstDesc p {
		font-size: 12px;
		line-height: 17px;
	}
	.inrBlgLstBlck{
		padding-bottom:30px;
	}
	.inrBlgLstTtle {
		margin-bottom: 0;
	}
	.inrBlgLstImg {
		height: 180px;
	}
	.nwsInrShreWrp span {
		font-size: 11px;
		padding-left: 10px;
	}
	.nwsInrPstDte {
		margin-top: 6px;
		font-size: 11px;
	}
	.nwsInrShreWrp a img {
	    width: 20px;
	}
	.inrBlgContMainWrp .secTitle {
	    margin-bottom: 5px;
	}
	.nwsInrShreDte{
		margin-bottom:15px;
	}
	.nwsNavTtl {
		font-size: 14px;
		line-height: 16px;
	}
	.nwsNavPstOn {
		font-size: 11px;
	}
	.inrBlgContMainWrp .secDesc > h1{font-size:19px;}
	.inrBlgContMainWrp .secDesc > h2,
	.inrBlgContMainWrp .secDesc > h3{font-size:17px;}
	.inrBlgContMainWrp .secDesc > h4{font-size:15px;}
	.inrBlgContMainWrp .secDesc > h5,
	.inrBlgContMainWrp .secDesc > h6{font-size:14px;}
	.layInstTable td {
		font-size: 11px;
		line-height: 15px;
		padding:5px 10px;
	}
	.layInstTable th {
		padding: 7px 10px 6px 10px;
		font-size: 11px;
	}
	.desRmLstMainCont .inrBlgLstBlck {
		width: 90%;
		margin-bottom:40px;
	}
	.desRmLstMainCont .inrBlgLstTtle {
		padding: 12px 13px;
		font-size: 10px;
	}
	.desRmLstMainCont .inrBlgLstImg {
		height: 180px;
	}
	.prdPgrMainWrp span {
		font-size: 12px;
		margin: 0 8px;
	}
	.prdPgrMainWrp a {
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-size: 11px;
	}
	.hmeGllryMainCont{
		text-align:center;
		position:relative;
	}
	.hmeGlry2,
	.hmeGlry1{
		margin:0;
		width: 90%;
	}
	.hmeGlry2{
		margin-top:30px;
	}
	.hmeGlryHeadWrp{
		position:static;
	}
	.hmeGlryHeadWrp .defBtn{
		position: absolute;
		display: block;
		bottom: 60px;
		left: 50%;
		top: auto;
		right: auto;
		margin: 0 0 0 -75px;
		width: 150px;
	}
	.hmeGllryMainCont .centerAlign{
		padding-bottom:70px;
	}
	.hmeOurNetTxtWrp {
		margin-top:-60px;
		margin-bottom: 110px;
	}
	.hmeOurNetTxtWrp h2{
		margin-bottom:0;
		font-size: 16px;
		line-height: 22px;
	}
	.hmeOurNetTxtWrp h2 + p{
		display:none;
	}
	.hmeOurNetTxtWrp .defBtn {
		margin-bottom: 5px;
		margin-top: 5px;
		padding: 9px 14px;
		font-size: 8px;
	}
	.hmeOurNetTxtWrp p {
		font-size: 11px;
		line-height: 14px;
	}
	.hmeOurNetTxtWrp {
		width: 240px;
		padding: 27px;
	}
	.contInfMainWrp,
	.cntInfPne{
		padding-left:10px;
		padding-right:10px;
	}
	.cntInfDeal{
		padding:10px;
		background:#f1f1f1;
	}
	.cntInfDeal p{
		margin-bottom:0;
	}
	.cntInfDeal p br{
		display:none;
	}
	.inrTxtWrp {
		font-size: 20px;
		width: 80%;
	}
	.inrTxtBnrCont{
		height:240px !important;
	}
	.inrDwldBrchrImg {
    	width: 75%;
	}
	.inrPrdCrtMainCont .hmeWelCertWrp {
		margin-top: 15px;
	}
	.gtop{
		display:block;
	}
	.ftrCounter {
		width: 50px;
		margin-left:0;
		top: -50px;
		left:auto;
		right:0;
		z-index: 1;
	}
	.ftrCpyMainCont{
		overflow:visible;
	}
	.dwldTtle {
		font-size: 18px;
	}
	.dwldDesc span {
		margin-right: 3px;
		padding: 4px 9px;
		margin-bottom: 6px;
		font-size: 8px;
	}
	.dwldDesc {
		margin-top: 5px;
	}
	.inrDwldWrp li a {
		margin-right: 15px;
	}
	.inrDwldWrp li a {
		padding: 25px;
	}
	.inrDwldWrp li {
		margin-bottom: 40px;
	}
}
